package ${package}.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.bo.${className}QueryBo;
import ${package}.${moduleName}.vo.${className}ListVo;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import java.util.List;

/**
 * ${docModule}Mapper
 * @author ${author}
 * @date ${datetime}
 * @version 1.0
 */
@Mapper
@Repository
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
    /**
     * ${docModule}分页查询
     *
     * @param page 分页信息
     * @param queryBo 查询实体
     * @return ${docModule}分页信息
     * @author ${author}
     * @date ${datetime}
     */
    List<${className}ListVo> getList(Page<${className}ListVo> page, @Param("queryBo") ${className}QueryBo queryBo);

    /**
     * ${docModule}列表查询
     *
     * @param queryBo 查询实体
     * @return ${docModule}列表信息
     * @author ${author}
     * @date ${datetime}
     */
    List<${className}ListVo> getList(@Param("queryBo") ${className}QueryBo queryBo);
}
