package  ${packageRepo}.${topName}.dao;

import ${packageDomain}.${topName}.Page${className};
import ${packageRepo}.${topName}.po.${className}PO;
import com.bwda.som.commons.framework.enhancement.autofillauditfield.annotation.AutofillAuditFields;
import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;

import java.util.List;

/**
 * <b>${docModule}</b>
 * <pre>
 * 描述<br/>
 * 作用：；<br/>
 * 限制：；<br/>
 * </pre>
 *
 * @author 侯浩(1272)
 * @date ${datetime}
 */
@Repository
public interface ${className}DAO {

    Long countBy(Page${className} condition);


    @AutofillAuditFields
    int updateBySn(@Param("updated") ${className}PO updated, @Param("sn") Long sn);

    ${className}PO selectBySn(@Param("sn") Long sn);

    @AutofillAuditFields
    int insertList(@Param("list") List<${className}PO> list);

    @AutofillAuditFields
    int deleteBySn(@Param("sn") Long sn);

    List<${className}PO> pageBy(@Param("pageBy") Page${className} condition, @Param("includeDeleted") boolean includeDeleted);

    @AutofillAuditFields
    void enable${className}(@Param("sn") Long sn);

    @AutofillAuditFields
    void disable${className}(@Param("sn") Long sn);
}
