package ${package}.${moduleName}.fallback;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.common.entity.vo.Result;
import ${package}.${moduleName}.api.${className}Api;
import ${package}.${moduleName}.bo.${className}QueryBo;
import ${package}.${moduleName}.bo.${className}SaveBo;
import ${package}.${moduleName}.vo.${className}DetailVo;
import ${package}.${moduleName}.vo.${className}ListVo;
import lombok.extern.slf4j.Slf4j;
import feign.hystrix.FallbackFactory;
import org.springframework.stereotype.Component;

import javax.validation.Valid;
import java.util.List;

/**
 * ${docModule}API熔断处理
 *
 * @author ${author}
 * @date ${datetime}
 * @version 1.0
 */
@Slf4j
@Component
public class ${className}Fallback implements FallbackFactory<${className}Api> {
    @Override
    public ${className}Api create(Throwable throwable) {
        log.error("<${className}Api error {}", throwable.getMessage(), throwable);
        return new ${className}Api() {
            @Override
            public Result<Page<${className}ListVo>> page(${className}QueryBo queryBo) {
                log.info("[${className}Api]的page(${className}QueryBo queryBo)发生异常，请求参数：{}", queryBo);
                return Result.fail("课班系统开小差了，请10s后再试");
            }

            @Override
            public Result<List<${className}ListVo>> list(${className}QueryBo queryBo) {
                log.info("[${className}Api]的list(${className}QueryBo queryBo)发生异常，请求参数：{}", queryBo);
                return Result.fail("课班系统开小差了，请10s后再试");
            }

            @Override
            public Result<${className}DetailVo> get(long id) {
                log.info("[${className}Api]的get(long id)发生异常，请求参数：{}", id);
                return Result.fail("课班系统开小差了，请10s后再试");
            }

            @Override
            public Result<${className}DetailVo> insert(@Valid ${className}SaveBo saveBo) {
                log.info("[${className}Api]的insert(${className}SaveBo saveBo)发生异常，请求参数：{}", saveBo);
                return Result.fail("课班系统开小差了，请10s后再试");
            }

            @Override
            public Result<${className}DetailVo> update(${className}SaveBo saveBo) {
                log.info("[${className}Api]的update()发生异常，请求参数：{}", saveBo);
                return null;
            }

            @Override
            public Result<String> remove(List<Long> ids) {
                log.info("[${className}Api]的remove(List<Long> ids)发生异常，请求参数：{}", ids);
                return Result.fail("课班系统开小差了，请10s后再试");
            }

            @Override
            public Result<List<${className}ListVo>> selectIdsList(${className}QueryBo queryBo) {
                log.info("[${className}Api]的remove(List<Long> ids)发生异常，请求参数：{}", queryBo);
                return Result.fail("反馈系统开小差了，请10s后再试");
            }
        };
    }
}