package ${packageService}.${topName};


import com.bwda.saas.application.service.util.CodeGeneratorService;
import ${packageDomain}.base.idgenerator.IdGeneratorType;
import ${packageDomain}.${topName}.${className};
import ${packageDomain}.${topName}.${className}Service;
import ${packageDomain}.${topName}.Page${className};
import ${packageRepo}.${topName}.${className}Repo;
import com.bwda.som.commons.utility.base.model.pagenation.PageResult;
import org.apache.dubbo.config.annotation.DubboService;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;


/**
 * <b>${docModule}</b>
 * <pre>
 * 描述<br/>
 * 作用：；<br/>
 * 限制：；<br/>
 * </pre>
 *
 * @author 侯浩(1272)
 * @date ${datetime}
 */
@DubboService
@Service
public class ${className}ServiceImpl implements ${className}Service {
    @Autowired
    ${className}Repo ${classname}Repo;

    @Autowired
    CodeGeneratorService codeGeneratorService;

    @Override
    public PageResult<${className}> page${className}By(Page${className} page${className}) {

        return ${classname}Repo.page${className}By(page${className});
    }

    @Override
    public Long add${className}(${className} ${classname}) {
        Long sn = codeGeneratorService.nextIdToDate(IdGeneratorType.FLOW);
        ${classname}.setSn(sn);
        ${classname}Repo.insertList(${classname});
        return sn;
    }

    @Override
    public void edit${className}(Long sn, ${className} ${classname}) {
        ${classname}Repo.updateBySn(${classname}, sn);
    }


    @Override
    public void enable${className}(Long sn) {
        ${classname}Repo.enable${className}(sn);
    }

    @Override
    public void disable${className}(Long sn) {
        ${classname}Repo.disable${className}(sn);
    }

    @Override
    public void delete${className}(Long sn) {
        ${classname}Repo.deleteBySn(sn);
    }

    @Override
    public ${className} get${className}(Long sn) {
        return ${classname}Repo.get${className}BySn(sn);
    }

    @Override
    public List<${className}> get${className}List(Page${className} page${classname}) {
        return ${classname}Repo.${classname}List( page${classname},true);
    }
}
