package  ${packageDomain}.${topName};

import com.bwda.som.commons.utility.base.model.pagenation.PageResult;

import java.util.List;

/**
 * <b>${docModule}</b>
 * <pre>
 * 描述<br/>
 * 作用：；<br/>
 * 限制：；<br/>
 * </pre>
 *
 * @author 侯浩(1272)
 * @date ${datetime}
 */
public interface ${className}Service  {
    /**
     * 白名单信息列表
     *
     * @param Page${classname}
     * @return List<${className}>
     */
    List<${className}> get${className}List(Page${className} page${classname});


    /**
     * 添加白名单
     *
     * @param ${classname}
     */
    Long add${className}(${className} ${classname});

    /**
     * 编辑白名单
     *
     * @param sn         策略编号
     * @param ${classname} 策略
     */
    void edit${className}(Long sn, ${className} ${classname});


    /**
     * 启用-白名单
     *
     * @param sn 策略编号
     */
    void enable${className}(Long sn);

    /**
     * 禁用-白名单
     *
     * @param sn 策略编号
     */
    void disable${className}(Long sn);

    /**
     * 删除-白名单
     * 前置条件：已禁用状态
     *
     * @param sn 策略编号
     */
    void delete${className}(Long sn);

    /**
     * 获取白名单
     *
     * @param sn 白名单编号
     * @return ${className}
     */
    ${className} get${className}(Long sn);

    /**
     * 分页查询白名单主
     *
     * @return 白名单主
     */
    PageResult<${className}> page${className}By(Page${className} page${className});
}
