package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.Result;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.bo.${className}SaveBo;
import ${package}.${moduleName}.bo.${className}QueryBo;
import ${package}.${moduleName}.vo.${className}DetailVo;
import ${package}.${moduleName}.vo.${className}ListVo;

import java.util.List;

/**
 * ${docModule}Service接口类
 *
 * @author ${author}
 * @date ${datetime}
 * @version 1.0
 */
public interface I${className}Service extends IService<${className}Entity> {

    /**
     * ${docModule}分页查询
     *
     * @param queryBo 查询实体
     * @return ${docModule}分页信息
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<Page<${className}ListVo>> page(${className}QueryBo queryBo);

    /**
     * ${docModule}列表查询
     *
     * @param queryBo 查询实体
     * @return ${docModule}列表信息
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<List<${className}ListVo>> list(${className}QueryBo queryBo);

    /**
     * ${docModule}查询
     *
     * @param id 主键ID
     * @return ${docModule}详情实体
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<${className}DetailVo> get(long id);

    /**
     * ${docModule}新增
     *
     * @param saveBo ${docModule}保存实体
     * @return Result<${className}DetailVo> 详情实体
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<${className}DetailVo> insert(${className}SaveBo saveBo);

    /**
     * ${docModule}修改
     *
     * @param saveBo ${docModule}保存实体
     * @return Result<${className}DetailVo> 详情实体
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<${className}DetailVo> update(${className}SaveBo saveBo);

    /**
     * ${docModule}批量删除
     *
     * @param ids 主键ID集合
     * @return Result<String> 是否成功
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<String> remove(List<Long> ids);

    /**
     * ${docModule}删除
     *
     * @param id 主键ID
     * @return Result<String> 是否成功
     * @author: ${author}
     * @version: 1.0
     * @date: ${datetime}
     */
    Result<String> remove(long id);

    /**
     * ${docModule}批量查询
     * @param ids id集合
     * @return  ${datetime}详情实体
     */
    Result<List<${className}ListVo>> selectIdsList(List<Long> ids);
}
